<div class="container">
    <h3>Hard & Soft Skills</h3>
    <div class="row">
        <!--    PARTE DE SKILL FRONTEND-->
        <div class="col-xs-12 col-sm-12 col-md-6 col-xl-4 col-xxl-4">
            <h4>Front-End</h4>
            <div *ngIf="isLogged">
                <button class="btn btn-success" (click)="nuevoSF()" style="margin-left: 30px; margin-bottom: 14px;">
                    <i class="fa-regular fa-square-plus"></i> Agregar</button>
            </div>
            <app-add-skill-front *ngIf="modSkFront"></app-add-skill-front>
            
            <div *ngFor="let SkillFront of skillsFront" >
                <div class="btnList" *ngIf="isLogged">
                    <!--    BOTON DE EDITAR-->
                    <button (click)="editarSF(SkillFront.id!)" class="btn-edit">
                        <i class="fa-solid fa-pen-clip"></i>
                    </button>   <!--    BOTON DE BORRAR-->
                    <button (click)="borrarSF(SkillFront.id!)" class="btn-edit">
                        <i class="fa-solid fa-trash-can"></i>
                    </button>
                </div>
                <h6><i class="{{SkillFront.icoSkillF}}"></i> {{SkillFront.nomSkillF}}</h6>
                <progress class="barraFront" value="{{SkillFront.porcSkillF}}" max="100">70 %</progress>

            </div>
        </div>

        <!--    PARTE DE SKILL BACKEND-->
        <div class="col-xs-12 col-sm-12 col-md-6 col-xl-4 col-xxl-4">
            <h4>Back-End</h4>
            <div *ngIf="isLogged">
                <button class="btn btn-success" (click)="nuevoSB()" style="margin-left: 30px; margin-bottom: 14px;">
                    <i class="fa-regular fa-square-plus"></i> Agregar</button>
            </div>
            <app-add-skill-back *ngIf="modSkBack"></app-add-skill-back>
            
            <div *ngFor="let SkillBack of skillsBack">
                <div class="btnList"    *ngIf="isLogged">
                    <button (click)="editarSB(SkillBack.id!)" class="btn-edit">
                        <i class="fa-solid fa-pen-clip"></i>
                    </button>
                    <button (click)="borrarSB(SkillBack.id!)" class="btn-edit" routerLink="/">
                        <i class="fa-solid fa-trash-can"></i>
                    </button>
                </div>
                <h6><i class="{{SkillBack.icoSkillB}}"></i> {{SkillBack.nomSkillB}}</h6>
                <progress class="barraBack" value="{{SkillBack.porcSkillB}}" max="100">70 %</progress>

            </div>
        </div>
        
        <!--    PARTE DE SKILL SOFT-->
        <div class="col-xs-12 col-sm-12 col-md-6 col-xl-4 col-xxl-4">
            <h4>Otras Habilidades</h4>
            <div  *ngIf="isLogged">
                <button class="btn btn-success" (click)="nuevoSS()" style="margin-left: 30px; margin-bottom: 14px;">
                    <i class="fa-regular fa-square-plus"></i> Agregar</button>
            </div>
            <app-add-skill-soft *ngIf="modSkSoft"></app-add-skill-soft>
            
            <div *ngFor="let SkillSoft of skillsSoft">
                <div class="btnList"    *ngIf="isLogged">
                    <!--    BOTON DE EDITAR-->
                    <button (click)="editarSS(SkillSoft.id!)" class="btn-edit">
                        <i class="fa-solid fa-pen-clip"></i>
                    </button>   <!--    BOTON DE BORRAR-->
                    <button (click)="borrarSS(SkillSoft.id!)" class="btn-edit">
                        <i class="fa-solid fa-trash-can"></i>
                    </button>
                </div>
                <h6><i class="{{SkillSoft.icoSkillS}}"></i> {{SkillSoft.nomSkillS}}</h6>
                <progress class="barraSoft" value="100" max="100">100 %</progress>

            </div>
        </div>
    </div>
</div>