img {height: 30px;
     margin-right: 2px;
}
.logoAP {height: 40px;
        float: left;}

#redes {padding-top: 8px;
        float: right
      }

.btn {float: right;
      padding: 5px;
      border-width: medium;  }

h3 {display: inline;}

.container-fluid{
      position: fixed;
      }
 

