<div id="encabezado" style="background-image: url({{personas.fondo_url}})">
    <p>Bienvenido a </p>
    <p>mi Portfolio Web</p>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-8 col-sm-4 col-md-3 col-lg-3 col-xl-3" *ngIf="personas.nombre">
            <img src="{{personas.foto_url}}" class="img-fluid">

            <div class="btn-edit"   *ngIf="isLogged">
                <a class="btn-right" (click)="editName()">
                    <i class="fa-solid fa-pen-clip"></i>
                </a>
            </div>
            <div id="nombre" *ngIf="personas.nombre">
                <h4>{{personas.nombre}} {{personas.apellido}}</h4>
                <h5><b><u>{{personas.titulo}}</u></b></h5>
            </div>
        </div>

        <div class="col-xs-12 col-sm-7 col-md-8 col-lg-8 col-xl-8">
            <div class="btn-edit"   *ngIf="isLogged">
                <a class="btn-right" (click)="editName()">
                    <i class="fa-solid fa-pen-clip"></i>
                </a>
            </div>

            <div id="descripcion">
                <h3>Acerca de mí</h3>
                <p>{{personas.sobre_mi}}</p>
            </div>
        </div>
    </div>