<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 col-xl-3">
            
            <img src="../../../assets/MiFoto.jpg" class="img-fluid">  
            <div class="btn-edit"  onclick="cambiar_parrafo()">
                <a href="#" class="btn-right">
                <i class="fa-solid fa-pen-clip"></i>
                </a>         
            </div>
            <div id="nombre">
                <h4>{{persona.apellido}} {{persona.nombre}}</h4> 
                <h5><b><u>Full-Stack Developer Jr.</u></b></h5>
            </div>                   
        </div>
        <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9 col-xl-9">
            <div class="btn-edit"  onclick="cambiar_parrafo()">
                <a href="#" class="btn-right">
                    <i class="fa-solid fa-trash-can"></i>
                </a>
                <a href="#" class="btn-right">
                  <i class="fa-solid fa-pen-clip"></i>
                </a>         
            </div>
            <div>
                <h3>Acerca de mí</h3>
                
                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum, sequi. Ab amet beatae veniam accusamus deserunt, placeat voluptatibus fugiat incidunt et quisquam id, enim optio consequatur, tempora accusantium rem illo!</p>
            </div>
        </div>
    </div>
</div>