.row {padding: 40px;
       }

img {border-bottom-right-radius: 15%;
     border-top-left-radius: 20%;  
     box-shadow: 4px 4px 4px black;}

#nombre {text-align: center;
         padding-top: 5px; 
         }

