<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-2 col-lg-2">          
                <img src="../../../assets/Foto.png" class="img-fluid" >                      
        </div>
        <div class="col-xs-12 col-sm-8 col-md-10 col-lg-10">
            <div>
                <h3>Acerca de mí</h3>
                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum, sequi. Ab amet beatae veniam accusamus deserunt, placeat voluptatibus fugiat incidunt et quisquam id, enim optio consequatur, tempora accusantium rem illo!</p>
            </div>
        </div>
    </div>
</div>