.items{
    background: #00c6ff;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0072ff, #00c6ff);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0072ff, #00c6ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    /* position: absolute; */
    border: 5px solid rgba(16, 47, 223, 0.859) ;
    border-radius: 2em;
    padding: 2em;
         
}
.items:hover{
    box-shadow: 10px 10px 10px rgb(0, 205, 246);
}
#fondo{
    padding-top: 100px;
    height: 100vh;
    background: #232526; 
    background: -webkit-linear-gradient(to right, #414345, #232526); 
    background: linear-gradient(to right, #414345, #232526);

}