<div id="fondo">
    <div class="container">
        <div class="row">
            <div class="col-8 offset-2">
                <div class="items" >
                    <h4>Modificar Educacion</h4>
                    <div   >
                        <form [formGroup]="form"  (ngSubmit)="actualizar()">
                            <div class="form-group"  >
                                <label for="nomEdu" >Nombre del Cargo</label>
                                <input formControlName="nomEdu"  type="text" class="form-control"   placeholder="Nombre del Título">
                            </div>
                            <div class="form-group">
                                <label for="instEdu">Duración</label>
                                <input formControlName="instEdu" type="text" class="form-control"   placeholder="Nombre de la Institución">
                            </div>
                            <div class="form-group">
                                <label for="aniosEdu">Duración</label>
                                <input formControlName="aniosEdu" type="text" class="form-control"   placeholder="Duración de Educación">
                            </div>
                            <div class="form-group">
                                <label for="descEdu">Descripcion</label>
                                <textarea formControlName="descEdu" type="text" class="form-control"  placeholder="Colocar Descripcion" rows="3"> </textarea>
                            </div>
                            <button class="btn btn-success" type="submit" >
                                <i class="fa-solid fa-floppy-disk"></i> Guardar</button>
                            <button class="btn btn-danger" routerLink="/" style="margin-left: 10px;">
                                <i class="fa-solid fa-ban"></i> Cancelar</button>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>