<div class="container">
    <div class="row">
        <h3>Proyectos</h3>
        <div class="col-xs-12 col-sm-6 col-lg-6 col-xl-6">
            <h5> <i>Mi Portfolio</i></h5>
            <p>El objetivo de este proyecto es dar a conocer mis habilidades como desarrollador Web Full-Stack Jr. </p>
            <P>El proyecto esta desarrollado implementando herramientas como Angular, Boostrap, Typescript, MySQL, NetBeans, entre otras.</P>
        </div>
        <div class="col-xs-12 col-6">
            <img src="../../../assets/developer.png" class="img-fluid">
        </div>
    </div>
</div>