img { display: cover; 
    width: 20vw;
    margin: 10px;
 }

.container {
    margin: 30px auto;
    background-color: rgb(0, 157, 254);
    border: 10px inset rgb(0, 38, 255, 0.948);
    border-radius: 3em;
    padding: 25px;
}
.container:hover{
    box-shadow: 15px 15px 15px rgb(0, 205, 246);
}

.btnList{
     display: inline;
     float: right;
     padding-right: 50px;
}
.btnList {
    color: black;
    font-size: 1.4em;
}


.btn-edit{
    background: none;
    border: none;
}
.btn-edit:hover{
    color: #fff;
}
