<div class="container">
    <div class="row">
        <div class="col-9">
            <div class="items" >
                <h4>Agregar Experiencia</h4>
                <div class="mb-3">
                    <form [formGroup]="form"    (ngSubmit)="guardar()">
                        <div class="form-group"  >
                            <label for="nomExp" ><b>Nombre del Cargo </b></label>
                            <input formControlName="nomExp"  type="text" class="form-control"   placeholder="Nombre del cargo">
                        </div>
                        <div class="form-group">
                            <label for="aniosExp"> <b>Duración </b></label>
                            <input formControlName="aniosExp" type="text" class="form-control"   placeholder="Tiempo en que realizó la tarea">
                        </div>
                        <div class="form-group">
                            <label for="descripcionExp"> <b>Descripcion </b></label>
                            <textarea formControlName="descripcionExp" type="text" class="form-control"  placeholder="Colocar nombre de la empresa y descripción de la tarea" rows="3"> </textarea>
                        </div>
                        <br>
                        <button class="btn btn-success" type="submit" >
                            <i class="fa-solid fa-floppy-disk"></i> Guardar</button>
                        <button class="btn btn-danger" (click)="cancelar()" style="margin-left: 10px;">
                            <i class="fa-solid fa-ban"></i> Cancelar</button>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
