<div class="container">
    <div class="row">
        <div class="col col-12">
            <h3>Educación</h3>
            <ul>
                <li>
                    <h4>Tecnicatura en Mantenimiento Industrial </h4>
                    <h5>Instituto Tecnológico Universitario (Universidad Nacional de Cuyo)</h5>
                    <h6>(2015 - 2019)</h6>
                    <p>Tecnicatura de Grado Universitario</p>
                </li>
                <li>
                    <h4>Full-Stack Developer Junior </h4>
                    <h5>Argentina Programa (INTI, Ministerio de Desarrollo Productivo Argentina</h5>
                    <h6>(2021 - 2022)</h6>
                    <p>Curso de Desarrollador Web Full-Stack</p>
                </li>
                <li>
                    <h4>Estudio 3 </h4> <h5>(años)</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto rerum sit incidunt exercitationem non iste totam, magni delectus hic ipsam consequatur. Ipsum qui porro error officiis consequuntur velit sapiente enim.</p>
                    
                </li>
            </ul>
        </div>
    </div>
</div>
