<div class="container">
    <div class="row">
        <div class="col col-12">
            <h3>Educación</h3>
            <ul>
                <li>
                    <h4>Estudio 1 </h4> <h5>(años)</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto rerum sit incidunt exercitationem non iste totam, magni delectus hic ipsam consequatur. Ipsum qui porro error officiis consequuntur velit sapiente enim.</p>
                </li>
                <li>
                    <h4>Estudio 2 </h4> <h5>(años)</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto rerum sit incidunt exercitationem non iste totam, magni delectus hic ipsam consequatur. Ipsum qui porro error officiis consequuntur velit sapiente enim.</p>
                </li>
                <li>
                    <h4>Estudio 3 </h4> <h5>(años)</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto rerum sit incidunt exercitationem non iste totam, magni delectus hic ipsam consequatur. Ipsum qui porro error officiis consequuntur velit sapiente enim.</p>
                    
                </li>
            </ul>
        </div>
    </div>
</div>
