<div id="fondo">
    <div class="container">
        <div class="row">
            <div class="col-6  offset-2">
                <div class="items">
                    <h4>Editar Skill</h4>
                    <div>
                        <form [formGroup]="form" (ngSubmit)="actualizar()">
                            <div class="form-group">
                                <label for="nomSkillB"><b>Nombre de la Skill </b></label>
                                <input formControlName="nomSkillB" type="text" class="form-control"
                                    placeholder="Nombre de la Skill">
                            </div>
                            <div class="form-group">
                                <label for="icoSkillB"> <b>Icono de la Skill </b></label>
                                <input formControlName="icoSkillB" type="text" class="form-control"
                                    placeholder="Nombre en FontAwensome ej: fa-brands fa-html5">
                            </div>
                            <div class="form-group">
                                <label for="porcSkillB"><b>Porcentaje de la Skill</b></label>
                                <input formControlName="porcSkillB" type="number" min="0" max="100"
                                    class="form-control">
                            </div>
                            <br>
                            <button class="btn btn-success" type="submit">
                                <i class="fa-solid fa-floppy-disk"></i> Guardar</button>
                            <button class="btn btn-danger" routerLink="/" style="margin-left: 10px;">
                                <i class="fa-solid fa-ban"></i> Cancelar</button>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>